@media (max-width: 570px) {
  .blocosAnimados {
    display: block;
    margin-left: 15%;
  }
}

@media (min-width: 570px) {
  .blocosAnimados {
    margin-left: 4%;
    margin-right: 4%;
  }
}

.imagesBackground {
  background-size: cover;
  background-image: url('../../assets/img/teste3.jpg');
}

